## Program to create a tuple

In [1]:
a = tuple(input('Enter tuple elements:'))
print(a)
print(type(a))

Enter tuple elements:56879623
('5', '6', '8', '7', '9', '6', '2', '3')
<class 'tuple'>

## Program to create tuple with different data types

In [1]:
t = ("akshay",8,6.9,True,2.8,'meera',5)
print(t)
print(type(t))

('akshay', 8, 6.9, True, 2.8, 'meera', 5)
<class 'tuple'>

## Program to create tuple with numbers and print one item

In [3]:
a = tuple(input('Enter integers for tuple elements:'))
print(a)
print("any one integer item in tuple:", int(a[3]))

Enter integers for tuple elements:562387
('5', '6', '2', '3', '8', '7')
any one integer item in tuple: 3

## Program to add an item in tuple

In [4]:
t = (2, 3, 6, 7, 18)
t1 = t + (17,)
print(t1)

(2, 3, 6, 7, 18, 17)

In [5]:
t = (2, 3, 6, 7, 18)
l1 = list(t)
print(l1)
l1.append(17)
t1 = tuple(l1)
print(t1)

[2, 3, 6, 7, 18]
(2, 3, 6, 7, 18, 17)

## Program to convert tuple to a string

In [6]:
t = tuple(input('Enter tuple elements:'))
print(t)
print(type(t))
s = str(t)
print(s)
print(type(s))

Enter tuple elements:523r6fg8
('5', '2', '3', 'r', '6', 'f', 'g', '8')
<class 'tuple'>
('5', '2', '3', 'r', '6', 'f', 'g', '8')
<class 'str'>

## Program to get 4th element from first & last of a tuple

In [7]:
t = tuple(input('Enter tuple elements:'))
print(t)
print('5th element from first:', t[4])
print('5th element from last:', t[-5])

Enter tuple elements:586432107623
('5', '8', '6', '4', '3', '2', '1', '0', '7', '6', '2', '3')
5th element from first: 3
5th element from last: 0