### Program to print "Hello Python" ten times

In [1]:
i = 1
while i<=10:
    print("Hello Python")
    i = i + 1

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

### Program to print number from 1 to 10

In [2]:
i = 1
while i<=10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

### Program to print sum of first ten number

In [3]:
i = 1
sum = 0
while i<=10:
    sum = sum + i
    print(sum)
    i = i + 1

1
3
6
10
15
21
28
36
45
55

### Program to print n number entered by the user

In [5]:
n = int(input('enter how many numbers u want:'))
i=1
while i<=n:
    print(i)
    i = i+1

enter how many numbers u want:6
1
2
3
4
5
6

### Program to print sum of n numbers

In [6]:
n = int(input('enter how manys numbers sum u want:'))
i = 1
sum = 0
while i<=n:
    sum = sum + i
    i = i + 1
print(sum)

enter how manys numbers sum u want:5
15

### Program to print table of a number

In [7]:
n = int(input('enter any number:'))
i = 1
while i<=10:
    print(n,'X',i,'=',n*i)
    i+=1

enter any number:7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

### Program to calculate the factorial of a number

In [8]:
n = int(input('enter any number:'))
i = 1
fac = 1
while i<=n:
    fac = fac*i
    i+=1
print(fac)

enter any number:5
120

### Program to print even number between 1 to 100

In [9]:
i = 1
while i<=100:
    if i%2==0:
        print(i)
    i = i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### Program to print odd number between 1 to 100

In [10]:
i = 1
while i<=100:
    if i%2!=0:
        print(i)
    i = i+1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99